div {
    border: 1px solid black;
    box-sizing: border-box;
}

.container {
    width: 1000px;
    height: 800px;
    margin: auto;
}

.header {
    width: 100%;
    height: 20%;
}

#header-1 {
    width: 20%;
    height: 100%;
    float: left;

    position: relative;
}

/* 헤더 홈로고 이미지 스타일 */
#home-logo{
    width: 50%;
    height: auto; /* 이미지의 지정된 width에 맞춰 높이를 일정 비율로 자동 조정*/

    position: absolute;
    top : 0;
    bottom : 0;
    left : 0;
    right: 0;
    margin : auto;
}


#header-2 {
    width: 65%;
    height: 100%;
    float: left;

    position : relative;
}

#header-3 {
    width: 15%;
    height: 100%;
    float: left;
}

.navigator {
    width: 100%;
    height: 5%;
    /*clear : both;*/
}

.content {
    width: 100%;
    height: 55%;
}

#con-1 {
    width: 15%;
    height: 100%;
    float: left;
}

#con-2 {
    width: 65%;
    height: 100%;
    float: left;
}

#con-3 {
    width: 20%;
    height: 100%;
    float: left;
}

.footer {
    width: 100%;
    height: 20%;
    /*clear: both;*/
}


/************* 로그인폼 시작 *************/
#login-form{
    width: 100%;
    height: 120px;
}

/* 아이디 비밀번호 입력 영역*/
#input-area{
    width: 65%;
    height: 100%;
    float : left;
}

#input-area > div{
    width: 100%;
    height: 50%;
}

/* ID,PW 입력 상자 */
/*#input-area input{*/
#input-area > div > input{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* input과 같은 화면에 표시되는 모양이 있는 태그는
        자체적인 padding, border, margin을 가지고 있을 수 있다.
        --> 그래서 width,height를 그냥 설정하면 벗어나는 일이 자주 있음
        --> box-sizing: border-box; 이 문제를 해결
     */
}


/* 로그인 버튼 영역*/
#login-btn-area{
    width: 35%;
    height: 100%;
    float : left;
}

/* 로그인 버튼 */
#login-btn-area > button{
    width: 100%;
    height: 100%;
    font-size: 16px;
}


#join-area{
    width: 100%;
    height: 30px;

    /* 문자와 같은 inline 형식의 요소 정렬 방법*/
    text-align: center;

    line-height: 28px;
}


/************* 로그인폼 끝**************/

/************ 검색폼 시작***********/

#search-form{
    border: 1px solid red;
    width: 80%;
    height: 20%;

    position: absolute;
    top : 0;
    bottom : 0;
    left : 0;
    right: 0;
    margin : auto;
}

#search-text-area{
    width: 80%;
    height: 100%;
    float: left;
}

#search-btn-area{
    width: 20%;
    height: 100%;
    float: left;
}

#search-text-area > input{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#search-btn-area > button{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}


/************ 검색폼 끝***********/



/*********** 네비게이터 시작************/
#navi, #navi li > ul {
    /* ul 태그 자체적으로 설정되어있는 padding, margin 제거*/
    padding :0;
    margin: 0;

    list-style-type: none ;
    /* list-style-type : li 태그 왼쪽에 나타는 기호 형태를 지정하는 스타일 */

    width: 100%;
    height: 100%;
    /* 하위 요소에 가변 크기 단위(%)를 사용하여 크기를 지정해야 되는 경우
        상위요소에 width, height가 지정되어 있어야만 
        원하는 비율로 나눌 수 있음.
     */
}

#navi > li{
    width: 15%;
    height: 100%;
    float : left;
    text-align: center;
    line-height: 35px;

    position : relative;
}

#navi > li > ul{
    position: absolute;
}



#navi li a{
    width: 100%;
    height: 100%;
    display: inline-block;

    text-decoration: none;
    /* text-decoration : 글자에 선 관련된 스타일 지정*/

    color : rgba(0, 0, 255, 0.5);
    /* rgba : rgb 색상(0~255) + 투명도(0~1)*/

    font-weight: bold;
    /* font-weight : 글꼴의 굵기(100 ~ 900) 
        normal : 보통 굵기 글씨 (== 가중치 400)
        bold : 굵은 글씨(== 가중치 700)
        bolder : 부모 요소보다 굵게
        lighter :  부모 요소보다 얇게
    */

    font-size: 20px;

    font-family: "굴림123", "Pattaya";
    /* font-family : 글꼴 지정 속성
        - 여러 글꼴을 연달아 작성 가능
            -> 앞쪽 글꼴이 없으면 뒤쪽에 작성된 글꼴이 적용됨
    */
}


#navi li a:hover{
    /* :hover   : 마우스가 올라갔을 때의 스타일을 지정하는 상태 선택자*/
    color : orange;
    background-color: rgb(250,250,250);
}

/* 서브 메뉴 목록이 존재할 수 있는 영역을 없앰 */
#navi li > ul > li{ 
    /* 서브 메뉴 li 만 선택 */
    height: 0;
    line-height: 0;
}

/* 서브 메뉴 목록에 있는 a태그가 화면에 조금 남는 경우도 없앰*/
#navi li > ul > li > a{
    /* opacity: 0; */
    /* opacity : 불투명 정도를 지정하는 속성 (0(투명) ~ 1(불투명)) */
    display: none;
    /* display: none;  -> 태그는 존재하지만 화면에 보이지 않고, 자리도 차지하지 않음 */
}


/* 서브 메뉴가 있는 메인 메뉴에 마우스를 올렸을 경우
    없앴던 서브 메뉴 a태그를 다시 화면에 보이게 함
*/
#navi > li:hover ul a{
    /* opacity: 1; */
    display: block;
}

/* 서브 메뉴가 있는 메인 메뉴에 마우스를 올렸을 경우
    없앴던 서브메뉴 영역을 다시 지정
*/
#navi > li:hover ul li{
    height: 40px;
    line-height: 35px;
}


#navi > li ul li{
    /* 서브메뉴 목록 선택 */
    transition-duration: 0.5s;
    /* transition-duration : 변이 시간 지정*/
}

/*********** 네비게이터 끝************/