<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Boot - 정적 자원 연결</title>

    <!-- static 폴더를 기준으로 css 파일 경로 작성 -->
    <link rel="stylesheet" href="/css/ex1.css">
</head>
<body>
    <div class="container">
        <h1>Spring boot - 정적 자원 연결</h1>

        <!-- static 폴더를 기준으로 image 파일 경로 작성 -->
        <img src="/images/logo.png">

    </div>

    <button id="btn">JS 연결 테스트</button>

    <!-- static 폴더를 기준으로 js 파일 경로 작성 -->
    <script src="/js/ex1.js"></script>
</body>
</html>